AIR4THAI_API_KEY=
DATABASE_URL=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_TOKEN=
DISCORD_WEBHOOK_CRITICAL=
DISCORD_WEBHOOK_EARTHQUAKE=
DISCORD_WEBHOOK_FLOOD=
DISCORD_WEBHOOK_PM25=
DISCORD_WEBHOOK_WEATHER=
GEMINI_API_KEY=
POLL_INTERVAL_AIR_QUALITY=
POLL_INTERVAL_EARTHQUAKE=
POLL_INTERVAL_FLOOD=
POLL_INTERVAL_WEATHER=
REDIS_URL=
TMD_API_KEY=
WEATHER_API_KEY=